<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes de Entrenamiento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/planesInicio.css') }}">
    <link rel="shortcut icon" href="/static/img/cbumlogoNike.png" type="image/png">
</head>
<body>
    <main>
        <div class="container">
            <div class="image-container">
                <img src="/static/img/olympia_2023_new_release_collections.png" alt="Chris Bumstead posando">
            </div>

            <div class="allRight">
                <div class="righInfo">
                    <div class="title">
                        <h1 class="textToGradientBellow" style="font-weight: 400;">¡ENTRENA COMO <span boldH1Span> UN CAMPEÓN</span><span class="boldH1Span">!</span></h1>
            <h2 class="h2Title" style="font-weight: 500px;"><span class="spanSubTitle" style="font-size: 52px;">CON</span><span style="font-size: 32px; margin-left: 10px;">Chris Bumstead</span></h2>
                    </div>
                    <div class="leftInfo">
                        <div class="medalla-item">
                            <img src="/static/img/gold-medal.png" alt="Medalla de Oro" class="medalla-icon">
                            <span class="subtitle">6x Mr. Olympia Classic Physique</span>
                        </div>
                
                        <div class="social-icons">
                            <a href="https://www.instagram.com/cbum/" target="_blank">
                                <img src="/static/img/instagram.png" alt="Instagram" class="icon">
                            </a>
                            <a href="https://www.youtube.com/@ChrisBumstead/videos" target="_blank">
                                <img src="/static/img/youtube-logo-24.png" alt="YouTube" class="icon">
                            </a>
                            <a href="https://discord.com/invite/Nd7UbMQu7X" target="_blank">
                                <img src="/static/img/discord-alt-logo-24.png" alt="Discord" class="icon">
                            </a>
                        </div>
                
                        <div class="plan">
                            <p class="spanSelectSuscription">Selecciona un Plan de Entrenamiento:</p>
                
                        <div class="containers" id="offertContainer">
                            <div class="cont1" id="infoPlan1">
                                <div class="infoPlan">
                                <div class="iconAndText">
                                    <img class="iconPlanTitle" src="/static/img/avocado.webp" alt="a Hamburguer Image">
                                    <span class="titlePlan">Plan Adelgazar</span>
                                </div>
                                <p class="pPlan">El plan perfecto para definir <br> tu cuerpo deseado.</p>
                                <span class="pricePlan">$0.00/mes</span>
                                <div class="lineDecoration"></div></div>
                                <div class="lineDecoration2"></div>
                                <div class="lineDecoration3"></div>
                                <div class="lineDecoration4"></div>
                            </div>
                            </div>
                        </div>
                        <div class="containers" id="offertContainer2">
                            <div class="cont2" id="infoPlan2">
                                <div class="infoPlan">
                                <div class="iconAndText">
                                    <img class="iconPlanTitle" src="/static/img/bistec.png" alt="a Hamburguer Image">
                                    <span class="titlePlan">Plan Aumentar</span>
                                </div>
                                <p class="pPlan2">El plan perfecto para aumentar <br> tu masa muscular.</p>
                                <span class="pricePlan">$0.00/mes</span>
                                <div class="lineDecoration21"></div></div>
                                <div class="lineDecoration22"></div>
                                <div class="lineDecoration23"></div>
                                <div class="lineDecoration24"></div>
                                </div>
                            </div>
                        </div>

                        <div class="planInfo" id="planInfo">
                            <p class="pTitle">Beneficios de este plan:</p>

                            <div class="parrafsInfo">
                                <div class="parrafo">
                                        <img alt="checkmark" loading="lazy" width="20" height="21" src="/static/img/checkmark.svg" style="color: transparent;">Guía de hidratación y control de antojos 💧</div>
                                <div class="parrafo">
                                        <img alt="checkmark" loading="lazy" width="20" height="21" src="/static/img/checkmark.svg" style="color: transparent;">Cronograma de ejercicios de resistencia 📆</div>
                                <div class="parrafo">
                                        <img alt="checkmark" loading="lazy" width="20" height="21" src="/static/img/checkmark.svg" style="color: transparent;">Lista de compras + Recetas 🍽️</div>
                                <div class="parrafo">
                                        <img alt="checkmark" loading="lazy" width="20" height="21" src="/static/img/checkmark.svg" style="color: transparent;">Guía de suplementos 📄</div>
                                <div class="parrafo">
                                        <img alt="checkmark" loading="lazy" width="20" height="21" src="/static/img/checkmark.svg" style="color: transparent;"> Detox Semanal 🍋 </div>
                            </div>
                        </div>

                        <div class="planInfo" id="planInfo2">
                            <p class="pTitle">Beneficios de este plan:</p>

                            <div class="parrafsInfo">
                                <div class="parrafo">
                                        <img alt="checkmark" loading="lazy" width="20" height="21" src="/static/img/checkmark.svg" style="color: transparent;">Videos de técnica de levantamiento 🎬</div>
                                <div class="parrafo">
                                        <img alt="checkmark" loading="lazy" width="20" height="21" src="/static/img/checkmark.svg" style="color: transparent;">Cronograma semanal de ejercicios de Fuerza 📆</div>
                                <div class="parrafo">
                                        <img alt="checkmark" loading="lazy" width="20" height="21" src="/static/img/checkmark.svg" style="color: transparent;">Lista de compras + Recetas 🍽️</div>
                                <div class="parrafo">
                                        <img alt="checkmark" loading="lazy" width="20" height="21" src="/static/img/checkmark.svg" style="color: transparent;">Guía de suplementos 📄</div>
                                <div class="parrafo">
                                        <img alt="checkmark" loading="lazy" width="20" height="21" src="/static/img/checkmark.svg" style="color: transparent;">Desafios Mensuales 🏆</div>
                            </div>
                        </div>
                        <div class="nextButton" id="nextButton1"><a href="https://t.me/BumRawBot" target="_blank">Más información -> Chatbot</a></div>

                        <div class="nextButton" id="nextButton2"><a href="https://t.me/BumRawBot" target="_blank">Más información -> Chatbot</a></div>
                    </div>
                            </div>
                    </div>
            </div>
        </div>
    </main>



    
    <script>
        const contenedorDEOfertaAPlanes1 = document.getElementById("offertContainer");
        const contenedorDEOfertaAPlanes2 = document.getElementById("offertContainer2");
        const divAmostrar = document.getElementById("planInfo");
        const divAmostrar2 = document.getElementById("planInfo2");
        const infoPlan1 = document.getElementById("infoPlan1");
        const infoPlan2 = document.getElementById("infoPlan2");
        const nextButton1 = document.getElementById("nextButton1");
        const nextButton2 = document.getElementById("nextButton2");
    
        contenedorDEOfertaAPlanes1.addEventListener('click', function() {
            // Mostrar la información del primer plan
            divAmostrar.style.display = 'block';
            divAmostrar2.style.display = 'none';
            infoPlan1.style.border = '2px solid yellow';
            infoPlan2.style.border = 'none';
            nextButton1.style.display = 'block';
            nextButton2.style.display = 'none';
    
            // Desplazar a la sección de información del primer plan
            divAmostrar.scrollIntoView({ behavior: 'smooth' });
        });
    
        contenedorDEOfertaAPlanes2.addEventListener('click', function() {
            // Mostrar la información del segundo plan
            divAmostrar.style.display = 'none';
            divAmostrar2.style.display = 'block';
            infoPlan1.style.border = 'none';
            infoPlan2.style.border = '2px solid yellow';
            nextButton1.style.display = 'none';
            nextButton2.style.display = 'block';
    
            // Desplazar a la sección de información del segundo plan
            divAmostrar2.scrollIntoView({ behavior: 'smooth' });
        });
    </script>
    
</body>
</html>
